@import url("https://fonts.googleapis.com/css2?family=Finlandica&display=swap");

:root {
  --color-primary: #4f46e5;
  --color-secondary: #dce546;
  --color-danger: #dc2626;
  --color-success: #059669;
  --color-warning: #d97706;
  --color-shade: #191b1e;

  --toastify-color-info: var(--color-primary) !important;
  --toastify-color-error: var(--color-danger) !important;
  --toastify-text-color-light: #25262b !important;
  --toastify-color-success: var(--color-success) !important;
  --toastify-color-warning: var(--color-warning) !important;
  --toastify-toast-min-height: 24px !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#__next {
  height: 100%;
  width: 100%;
  background-color: #101113;
}

#__next {
  overflow-y: auto;
}

#nprogress {
  position: relative;
  z-index: 9999999;
}

#nprogress .bar {
  background: var(--color-primary) !important;
  height: 3px !important;
}

#nprogress .peg {
  box-shadow:
    0 0 10px var(--color-primary),
    0 0 5px var(--color-primary) !important;
}

#nprogress .spinner-icon {
  border-top-color: var(--color-primary) !important;
  border-left-color: var(--color-primary) !important;
}

.span.indigo {
  color: var(--color-primary);
}

.Toastify__toast-body {
  font-size: 14px !important;
  white-space: pre-line !important;
}

::-webkit-scrollbar {
  /*width: 7.21591px;*/
  width: 8px;
}

::-webkit-scrollbar-track:hover {
  background: #f9fafb;
}

::-webkit-scrollbar-track:hover {
  ::-webkit-scrollbar-thumb {
    background: #555;
  }
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.cursor-pointer {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

[data-orientation="vertical"] .mantine-ScrollArea-thumb {
  background-color: var(--color-primary);
}

.hover-underline:hover {
  text-decoration: underline;
}
